# ------------------------------------------------------------------------------
# This is an example .env file.
# ------------------------------------------------------------------------------

# Contentful
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=

# Firbase
#FIREBASE_COLLECTION_IMAGES=