// width
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
// track
::-webkit-scrollbar-track {
  background: inherit;
}
// handle
::-webkit-scrollbar-thumb {
  background: $-gray-200;
  border-radius: 2px;
}
// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $-gray-400;
}
